:root {
    
    /* COLORES BASE */
    --color-white:#f7f7f7;
    --color-black:#0F0F0F;
    --color-text:#1A1A1A;
    --color-text-light:#666666;
    --color-verde: #5BDA4A;
    --color-rojo: #DA4A4A;
    --color-yellow: #e6e957;
    --color-naranja:#f76b00;

    /* OVERLAY */
    --color-overlay:rgba(0,0,0,.45);

    /* SOMBRAS */
    --shadow-sm:0 4px 10px rgba(0,0,0,.12);
    --shadow-md:0 8px 25px rgba(0,0,0,.18);

    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Syncopate", sans-serif;
    --font-lettering: "Hurricane", cursive;
    --font-bold: "Special Gothic Expanded One", sans-serif;
}
